<main class="container p-4">
    <div class="col-md-6 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h3>Detalles del juego</h3>
            </div>

            <div class="card-body">
                <div class="base">
                    <h4>{{productId.title}}</h4>
                </div>

                <div class="base">
                    <img src="{{productId.image_url}}" width="250" height="400">
                </div>
                <div class="base">
                    <h4 class="form-control">{{productId.subcategory}}</h4>
                </div>
                {{#if user}}
                {{#if productId.usado}}
                <div class="base">
                    <p class=" form-control card-text fw-bold">el producto usado esta {{productId.tienda}}                    </p>
                </div>
                {{/if}}
                {{#if productId.solo_intercambio}}
                <div class="base">
                    <p class=" form-control card-text fw-bold">Usado Solo Disponible Por Intercambio                    </p>
                </div>
                {{/if}}
                {{#if productId.precio_nuevo}}
                <div class="base">
                    <p class=" form-control card-text fw-bold">Nuevo &nbsp; $:{{productId.precio_nuevo}}.00 &nbsp; Soles
                    </p>
                </div>
                {{/if}}
                {{#if productId.precio_usado}}
                <div class="base">
                    <p class=" form-control card-text fw-bold">Usado &nbsp; $:{{productId.precio_usado}}.00 &nbsp; Soles
                    </p>
                </div>
                {{/if}}
                {{/if}}
                <div class="form-group">
                    <textarea name="description" class="form-control">{{productId.description}}</textarea>
                </div>
                {{#if productId.video}}
                <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 10px;">
                    <iframe class="embed-responsive-item" src="{{productId.video}}"
                        allowfullscreen></iframe>
                </div>
                {{/if}}
                {{#if user}}
                <div>
                    <h3 class="form-control">Codigo: {{productId.code_id}}</h4>
                </div>

                <div class="form-group">
                    <form action="/product/edit/{{productId._id}}" method="GET">
                        <button class="btn btn-primary btn-block" type="submit">
                            Editar
                        </button>
                    </form>
                </div>

                <div class="form-group">
                    <form action="/product/delete/{{productId._id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-block btn-sm">
                            Delete
                        </button>
                    </form>
                </div>
                {{/if}}






            </div>
        </div>
    </div>
</main>